html {
    scroll-behavior: smooth;
}

#inicio,
#categorias,
#anillos-section,
#collares-section,
#pulseras-section,
#aros-section{
    scroll-margin-top: 110px;
}
#contacto{
    scroll-margin-top: 160px;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f8f8f8;
    color: #111;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
   z-index: 100;
}
header img {
    width: 100px;
}
#navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    margin-right: 10px;

}

#navbar ul a {
    color: black;
    text-decoration: none;
    font-size: 21px;
}

#navbar ul a:visited {
    color: black;
}

#navbar ul a:hover {
    color: goldenrod;
    text-decoration: underline;
}

.hero {
    margin: 0px auto;
    width: 100%;
    height: 750px;

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    
    position: relative;

}


.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hero:hover .slide,
.hero:hover .slider-puntos span {
    animation-play-state: paused;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    opacity: 0;
}

.slide1 {
    background-image: url('media/hero.jpeg');
    animation: fade 15s infinite;
}

.slide2 {
    background-image: url(media/hero1.jpeg);
    animation: fade 15s infinite 5s;
}

.slide3 {
    background-image: url(media/hero3.jpeg);
    animation: fade 15s infinite 10s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.slider-puntos {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2;
}

.slider-puntos span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}

.slider-puntos span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
}



.slider-puntos span:nth-child(1) {
    animation: dot 15s infinite;
}

.slider-puntos span:nth-child(2) {
    animation: dot 15s infinite 5s;
}

.slider-puntos span:nth-child(3) {
    animation: dot 15s infinite 10s;
}


@keyframes dot {
    0% {
        background: rgba(255, 255, 255, 0.5);
    }

    10% {
        background: white;
    }

    30% {
        background: white;
    }

    40% {
        background: rgba(255, 255, 255, 0.5);
    }

    100% {
        background: rgba(255, 255, 255, 0.5);
    }
}

.hero-text {
    position: relative;
    z-index: 2;
    max-width: 600px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.hero-text{
    animation: fadeUp 1s ease;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 20px;

}

.hero p {
    font-size: 19px;
    margin-bottom: 30px;
}

.btn {
    background: black;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
}

.btn:hover {
    background: #333;
    transition: 0.3s;
}

#categorias-title{
    text-align: center;
    font-size: 35px;
}

.categorias-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 10px;

    background: white;
    border-bottom: 1px solid #eee;

    position: sticky;
    top: 100px;
    z-index: 99;
}

.categorias-nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    position: relative;
}

.categorias-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background: #c9a96e;
    transition: 0.3s;
}

.categorias-nav a:hover::after {
    width: 100%;
}



#categorias h3 {
    font-size: 28px;
    text-align: center;
    padding: 50px;


}

.productos-grid {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    align-items: center;
    margin-bottom: 50px;
}


@media (max-width: 900px) {
    .productos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 500px) {
    .productos-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

}

.productos-card {
    position: relative;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    transition: all 300ms;
    max-height: 400px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.productos-card:hover {
    transform: translateY(-8px);
   box-shadow:0 10px 20px rgba(0, 0, 0, 0.15);


}

.producto-info p:first-child{
    font-size: 16px;
}

.producto-info p:last-child {
    font-weight: bold;

}

.productos-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: all 300ms;



    background: transparent;
    border: 1px solid #111;
    color: #111;
}

@media (max-width: 500px) {
    .productos-card a {
        margin-top: 0px;
    }
}

.productos-card a:hover {
    background: #111;
    color: #fff;
}



.productos-card .gold:hover {
    background: #d6a956;
    color: #111;
}

.sin-stock a{
    background-color: gray;
    pointer-events: none;
    cursor: not-allowed;
}


.productos-card img {
    height: 140px;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: all 420ms;
}

.productos-card:hover img {
    transform: scale(1.13);
}

.badge,
.badge2{
    display: none;
}

.oferta .badge2{
     display: block;
    position: absolute;
    top: 40px;
    left: 10px;
    background: green;
    color:white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}

.oferta .precio{
    color: green;
    font-weight: bold;
}

.oferta .precio-viejo{
    text-decoration: line-through;
    color: gray;
    margin-right:5px ;
}



.sin-stock .badge{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    background: crimson;
    color:white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}

.sin-stock{
    opacity: 0.6;
}

.sin-stock img{
    filter: grayscale(100%);
}

.categoria {
    text-align: center;
    min-height: 1000px;
}

.btn-ver-mas {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px 15px;
    background-color: black;
    border: 1px gold;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: all 300ms;
}

.btn-ver-mas:hover {
    color: #b9995e;
}


#contacto {
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-top: 20px;
}

#contacto h2 {
    font-size: 34px;
    text-align: center;
    padding: 10px;
}


#contacto p {
    text-align: center;
    font-size: 20px;
    color: #333;

}

.botones-contacto {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.social-btn i {
    color: #333;
    font-size: 30px;
    padding: 10px;
    border-radius: 100%;
    transition: all 350ms;
}

.social-btn:hover i {
    color: white;
    background-color: #c9a96e;


}

.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
}



footer {
    background: #111;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

}

#footer-marca p {
    font-size: 19px;
    margin-top: -10px;
}

#footer-navbar ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 5px;
}

#footer-navbar ul a {
    color: #fff;
    text-decoration: none;
    font-size: 21px;
}

#footer-navbar ul a:visited {
    color: white;
}

#footer-navbar ul a:hover {
    color: #c9a96e;
    text-decoration: underline;
}

.footer-info p {
    text-align: left;
}

.botones-footer a {
    color: white;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    transition: 0.3s;
    margin: 5px;
    margin-bottom: 20px;
}


.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #444;
    font-size: 14px;
    color: #888;
}




.botones-footer a:hover {
    transform: scale(1.05);
    opacity: 0.9;
    color: #c9a96e;
}


@media (max-width: 700px) {
    #footer-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    #footer-navbar ul {
        gap: 10px;
        padding: 0;
    }


}